.container {
    width: 100%;
}

.attach-file-form {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form-elements label{
margin-right: 15px;
}

#sbm-btn {
    margin-top: 30px;
    margin-bottom: 10px;
    width: 15%;
}
